<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Relación</title>
    <link rel="stylesheet" th:href="@{'/vendor/bootstrap/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/font-awesome/css/font-awesome.min.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/linearicons/style.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/metisMenu/metisMenu.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/bootstrap-multiselect/bootstrap-multiselect.css'}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{'/css/main.css'}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{'/imgages/apple-icon.png'}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{'/imgages/favicon.png'}">
</head>
<body>

<div id="wrapper">
    <th:block th:include="header::header"></th:block>

    <div id="main-content">
        <div class="container-fluid">
            <div class="section-heading">
                <h1 class="page-title">Formulario de relación</h1>
            </div>


            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-content">
                        <h2 class="heading"><i class="fa fa-square"></i> Por favor completa los campos</h2>

                        <div class="alert alert-danger" th:if="${errores != null}">
                            <ul>
                                <li th:each="err : ${errores}" th:text="${err}"></li>
                            </ul>
                        </div>

                        <form id="basic-form" th:action="@{'/competecompone/save/'}" th:object="${competecompone}"
                              method="post">
                            <div class="form-group">
                                <label class="control-label">Competencia</label>
                                <input hidden="hidden" th:field="*{idCompComponente}">
                                <select th:field="*{idCompetencia}" class="form-control">
                                    <option th:each="compete : ${competencias}" th:value="${compete.idCompetencia}"
                                            th:text="${compete.nombre}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Componente</label>
                                <select th:field="*{idComponente}" class="form-control">
                                    <option th:each="compone : ${componentes}" th:value="${compone.idComponente}"
                                            th:text="${compone.nombre}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Estado</label>
                                <br/>
                                <label class="fancy-radio">
                                    <input type="radio" th:field="*{estado}" th:value="1" required
                                           data-parsley-errors-container="#error-radio">
                                    <span><i></i>Activo</span>
                                </label>
                                <label class="fancy-radio">
                                    <input type="radio" th:field="*{estado}" th:value="2">
                                    <span><i></i>Inactivo</span>
                                </label>
                                <p id="error-radio"></p>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script th:src="@{'/vendor/jquery/jquery.min.js'}"></script>
<script th:src="@{'/vendor/bootstrap/js/bootstrap.min.js'}"></script>
<script th:src="@{'/vendor/metisMenu/metisMenu.js'}"></script>
<script th:src="@{'/vendor/jquery-slimscroll/jquery.slimscroll.min.js'}"></script>
<script th:src="@{'/scripts/common.js'}"></script>
</body>
</html>