<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de relaciones</title>
    <link rel="stylesheet" th:href="@{'/vendor/bootstrap/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/font-awesome/css/font-awesome.min.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/linearicons/style.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/metisMenu/metisMenu.css'}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{'/css/main.css'}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{'/imgages/apple-icon.png'}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{'/imgages/favicon.png'}">
</head>
<body>
<div id="wrapper">
    <th:block th:include="header::header"></th:block>

    <div id="main-content">
        <div class="container-fluid">
            <div class="section-heading">
                <h1 class="page-title">Lista de relaciones</h1>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel-content">

                        <div th:if="${mensaje != null}">
                            <div class="alert alert-success" th:text="${mensaje}" role="alert"></div>
                        </div>

                        <a th:href="@{'/competecompone/form'}" class="btn btn-success" role="button"
                           title="Agregar Grado">Agregar nueva relación</a><br><br>


                        <h3 class="heading"><i class="fa fa-square"></i> Detalles</h3>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped no-margin">
                                <thead>
                                <tr>
                                    <th>Competencia</th>
                                    <th>Componente</th>
                                    <th>Estado</th>
                                    <th>Fecha actualización</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="competecompone : ${competescompones}">
                                    <td th:text="${competecompone.idCompetencia.nombre}"></td>
                                    <td th:text="${competecompone.idComponente.nombre}"></td>
                                    <td th:text="${competecompone.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
                                    <td th:text="${competecompone.updatedAt}"></td>
                                    <td>
                                        <a th:href="@{'/competecompone/edit/' + ${competecompone.idCompComponente}}"
                                           class="btn btn-success btn-sm"
                                           role="button"
                                           title="Edit"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                        <a th:href="@{'/competecompone/delete/' + ${competecompone.idCompComponente}}"
                                           onclick="return confirm('¿Borrar relación?')" class="btn btn-danger btn-sm"
                                           role="button" title="Eliminar"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination">
                                <ul class="pagination borderless">
                                    <li th:class="${competescompones.number eq 0} ? 'disabled' : ''">
                                        <a th:if="${not competescompones.first}"
                                           th:href="@{${'/competecompone/index/'}(page=${competescompones.number - 1},size=${competescompones.size})}">Atrás</a>
                                        <a th:if="${competescompones.first}" href="javascript:void(0);">Atrás</a>
                                    </li>

                                    <li th:each="pageNo : ${#numbers.sequence(0, competescompones.totalPages - 1)}"
                                        th:class="${competescompones.number eq pageNo}? 'active' : ''">
                                        <a th:if="${competescompones.number  eq pageNo}" href="javascript:void(0);">
                                            <span th:text="${pageNo + 1}"></span>
                                        </a>
                                        <a th:class="${competescompones.size == 0 ? 'hidden' : 'visible'}"
                                           th:if="${not (competescompones.number  eq pageNo)}"
                                           th:href="@{${'/competecompone/index/'}(page=${pageNo},size=${competescompones.size})}">
                                            <span th:text="${pageNo + 1}"></span>
                                        </a>

                                    </li>
                                    <li th:class="${competescompones.number + 1 ge competescompones.totalPages} ? 'disabled' : ''">
                                        <a th:if="${not competescompones.last}"
                                           th:href="@{${'/competecompone/index/'}(page=${competescompones.number+1},size=${competescompones.size})}">Siguiente</a>
                                        <a th:if="${competescompones.last}" href="javascript:void(0);">Siguiente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<script th:src="@{'/vendor/jquery/jquery.min.js'}"></script>
<script th:src="@{'/vendor/bootstrap/js/bootstrap.min.js'}"></script>
<script th:src="@{'/vendor/metisMenu/metisMenu.js'}"></script>
<script th:src="@{'/vendor/jquery-slimscroll/jquery.slimscroll.min.js'}"></script>
<script th:src="@{'/scripts/common.js'}"></script>
</body>
</html>