<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de evaluaciones</title>
    <link rel="stylesheet" th:href="@{'/vendor/bootstrap/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/font-awesome/css/font-awesome.min.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/linearicons/style.css'}">
    <link rel="stylesheet" th:href="@{'/vendor/metisMenu/metisMenu.css'}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{'/css/main.css'}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{'/imgages/apple-icon.png'}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{'/imgages/favicon.png'}">
</head>
<body>
<div id="wrapper">
    <th:block th:include="header::header"></th:block>

    <div id="main-content">
        <div class="container-fluid">
            <div class="section-heading">
                <h1 class="page-title">Lista de evaluaciones</h1>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel-content">

                        <div th:if="${mensaje != null}">
                            <div class="alert alert-success" th:text="${mensaje}" role="alert"></div>
                        </div>

                        <a th:href="@{'/evaluaciones/form'}" class="btn btn-success" role="button"
                           title="Agregar Grado">Agregar evaluación</a><br><br>

                        <h3 class="heading"><i class="fa fa-square"></i> Detalles</h3>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped no-margin">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Contraseña</th>
                                    <th>Descripción</th>
                                    <th>Tipo Evaluación</th>
                                    <th>Intentos</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha final</th>
                                    <th>Hora inicio</th>
                                    <th>Hora final</th>
                                    <th>Estado</th>
                                    <th>Fecha actualización</th>
                                    <th>Vincular usuarios</th>
                                    <th>Vincular preguntas</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="evaluacion : ${evaluaciones}">
                                    <td th:text="${evaluacion.nombre}"></td>
                                    <td th:text="${evaluacion.password}"></td>
                                    <td th:text="${evaluacion.descripcion}"></td>
                                    <td th:text="${evaluacion.idTipoEvaluacion.nombre}"></td>
                                    <td th:text="${evaluacion.cantidadIntentos}"></td>
                                    <td th:text="${#dates.format(evaluacion.fechaInicio, 'dd-MM-yyyy')}"></td>
                                    <td th:text="${#dates.format(evaluacion.fechaLimite, 'dd-MM-yyyy')}"></td>
                                    <td th:text="${evaluacion.horaInicio}"></td>
                                    <td th:text="${evaluacion.horaFinal}"></td>
                                    <td th:text="${evaluacion.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
                                    <td th:text="${#dates.format(evaluacion.updatedAt, 'dd-MM-yyyy')}"></td>
                                    <td>
                                        <a th:href="@{'/evaluacionusuarios/form/' +  ${evaluacion.idEvaluacion}}"><i
                                                class="fa fa-book fa-3x"></i></a>
                                    </td>
                                    <td>
                                        <a th:href="@{'/evaluapregunta/form/' +  ${evaluacion.idEvaluacion}}"><i
                                                class="fa fa-book fa-3x"></i></a>
                                    </td>
                                    <td>
                                        <a th:href="@{'/evaluaciones/edit/' + ${evaluacion.idEvaluacion}}"
                                           class="btn btn-success btn-sm"
                                           role="button"
                                           title="Edit"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                        <a th:href="@{'/evaluaciones/delete/' + ${evaluacion.idEvaluacion}}"
                                           onclick="return confirm('¿Borrar evaluación?')" class="btn btn-danger btn-sm"
                                           role="button" title="Eliminar"><span
                                                class="glyphicon glyphicon-trash"></span></a>

                                        <a th:href="@{'/evaluaciones/quiz/' + ${evaluacion.idEvaluacion}}"
                                           onclick="return confirm('¿Tomar evaluación?')" class="btn btn-alert btn-sm"
                                           role="button" title="Iniciar"><span
                                                class="glyphicon glyphicon-education"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-pagination">
                                <ul class="pagination borderless">
                                    <li th:class="${evaluaciones.number eq 0} ? 'disabled' : ''">
                                        <a th:if="${not evaluaciones.first}"
                                           th:href="@{${'/evaluaciones/index/'}(page=${evaluaciones.number - 1},size=${evaluaciones.size})}">Atrás</a>
                                        <a th:if="${evaluaciones.first}" href="javascript:void(0);">Atrás</a>
                                    </li>

                                    <li th:each="pageNo : ${#numbers.sequence(0, evaluaciones.totalPages - 1)}"
                                        th:class="${evaluaciones.number eq pageNo}? 'active' : ''">
                                        <a th:if="${evaluaciones.number  eq pageNo}" href="javascript:void(0);">
                                            <span th:text="${pageNo + 1}"></span>
                                        </a>
                                        <a th:class="${evaluaciones.size == 0 ? 'hidden' : 'visible'}"
                                           th:if="${not (evaluaciones.number  eq pageNo)}"
                                           th:href="@{${'/evaluaciones/index/'}(page=${pageNo},size=${evaluaciones.size})}">
                                            <span th:text="${pageNo + 1}"></span>
                                        </a>

                                    </li>
                                    <li th:class="${evaluaciones.number + 1 ge evaluaciones.totalPages} ? 'disabled' : ''">
                                        <a th:if="${not evaluaciones.last}"
                                           th:href="@{${'/evaluaciones/index/'}(page=${evaluaciones.number+1},size=${evaluaciones.size})}">Siguiente</a>
                                        <a th:if="${evaluaciones.last}" href="javascript:void(0);">Siguiente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
</body>
</html>